section#black-section {
  background-color: #0c0c0c;
  position: relative;
  z-index: 3;
  .col-lg-8 {
    .row {
      //   border-bottom: 2px solid #181818;
      margin-bottom: 25px;
      padding-bottom: 25px;
      @include tab-max{
        margin-bottom: 35px;
        padding-bottom: 35px;
      }
      position: relative;
      &:after {
        position: absolute;
        width: calc(100% - 60px);
        height: 2px;
        background: #181814;
        bottom: 0;
        content: " ";
        left: 30px;
      }
      &:last-child {
        margin-bottom: 0;
        &:after {
          display: none;
        }
      }       
    }
  }
  .black-item {
    display: flex;
    align-items: center;
    height: 100%;
    // margin: 15px 0;
    justify-content: center;

    img {
      width: auto;
    }
  }
  .black-right-content { 
    text-align: right;
    h3 {
      font-size: 54px;
      font-weight: 400;
      color: #fff;
      @include tab-max{
        font-size: 40px;
      }
      span {
        font-weight: 700;
        &:last-child {
          display: block;
        }
      }
    }
    a {
      color: #fff;
      font-size: 14px;
      text-decoration: underline;
      margin-top: 10px;
      @include md-max{
        margin-bottom: 50px;
      }
    }
  }
}
